composer.lock
*.DS_Store
public/uploads
.env.local.php
.elasticbeanstalk/
_ide_helper.php
.idea
app/config/packages/barryvdh
public/profile/301-3ggyfMJDXHVM.jpg
public/profile/301-8wKDvpIdzz0u.jpg
public/profile/301-96AZiUUJfu7X.jpg
public/profile/301-9tGiKOA6GeA8.jpg
public/profile/301-folyV3uH0dLD.jpg
public/profile/301-tMpsv3xBxijb.jpg
public/profile/357-gClql014RU5F.jpg
public/profile/357-l7yuKUFH21Tu.jpg
public/profile/357-qSIYgpCxIcKE.jpg
public/profile/357-ZYXcmLzA33P2.jpg

# some eclipse-related staff
.buildpath
.project
.settings


/temp/*

# do not track environment settings. Them may be different on other installations.
.env.*

# do not track test's output files
/app/tests/files/out/
